@if ((initialLoadComplete$ | async) && (issue$ | async) === null) {
  <section class="l-body l-body--full-width">
    @if (organization$ | async; as organization) {
      <mat-card class="auth-form issue-404">
        <mat-card-content>
          <h1 class="mat-headline-4" i18n>Issue not found</h1>
          <p class="mat-body-1" i18n
            >This may be because the URL is pointing to an issue that doesn't
            exist or was deleted.</p
          >
          <p class="mat-body-1" i18n
            >It's also possible that this issue was reported to a project that
            you are not able to access.</p
          >
          <a
            mat-flat-button
            color="primary"
            class="project-issues-link"
            i18n
            [routerLink]="['..']"
            >View all issues in {{ organization.name }}</a
          >
        </mat-card-content>
      </mat-card>
    }
  </section>
}
@if (issue$ | async; as issue) {
  <section class="l-body l-body--full-width">
    <gt-detail-header
      [backLinkText]="'View all issues for ' + issue.project.name"
      [backLinkParams]="generateBackLink(issue.project.id)"
      [title]="(issueTitle$ | async)!"
      [subtitle]="issueSubtitle$ | async"
    >
      @if (issue?.status !== "resolved") {
        <button mat-flat-button color="primary" (click)="markResolved()">
          <mat-icon aria-hidden="true">done</mat-icon>
          Resolve
        </button>
      }
      @if (issue?.status !== "unresolved") {
        <button mat-flat-button color="primary" (click)="markUnresolved()">
          <mat-icon aria-hidden="true">done</mat-icon>
          Reopen
        </button>
      }
      @if (issue?.status !== "ignored") {
        <button mat-stroked-button (click)="markIgnored()"> Ignore </button>
      }
      <button
        mat-icon-button
        class="medium-icon-button"
        (click)="deleteIssue()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </gt-detail-header>
    <div class="row">
      <mat-card class="event-detail-card left">
        <div class="tab-nav-container">
          <nav
            mat-tab-nav-bar
            class="tabbed-nav"
            mat-stretch-tabs="false"
            [tabPanel]="tabPanel"
          >
            <a
              mat-tab-link
              [routerLink]="['./']"
              routerLinkActive
              [active]="details.isActive"
              [routerLinkActiveOptions]="{ exact: true }"
              #details="routerLinkActive"
            >
              Event Details
            </a>
            <a
              mat-tab-link
              [routerLink]="['user-reports']"
              routerLinkActive
              [active]="reports.isActive"
              #reports="routerLinkActive"
            >
              @if (issue.userReportCount > 0) {
                <span
                  [matBadge]="
                    issue.userReportCount < 100
                      ? issue.userReportCount.toString()
                      : '99+'
                  "
                  matBadgeOverlap="false"
                  class="report-badge"
                >
                  User Reports
                </span>
              }
              @if (issue.userReportCount === 0) {
                User Reports
              }
            </a>
            <a
              mat-tab-link
              [routerLink]="['comments']"
              routerLinkActive
              [active]="comments.isActive"
              #comments="routerLinkActive"
            >
              @if (issue.numComments > 0) {
                <span
                  [matBadge]="
                    issue.numComments < 100 ? issue.numComments : '99+'
                  "
                  matBadgeOverlap="false"
                  class="report-badge"
                >
                  Comments
                </span>
              } @else {
                <span>Comments</span>
              }
            </a>
          </nav>
        </div>
        <mat-card-content>
          <mat-tab-nav-panel #tabPanel>
            <router-outlet></router-outlet>
          </mat-tab-nav-panel>
        </mat-card-content>
      </mat-card>
      <aside class="right">
        <mat-card>
          <mat-card-content>
            <dl>
              <div>
                <dt class="mat-caption">Issue #</dt>
                <dd class="mat-body-1">{{ issue?.shortId }}</dd>
              </div>
              <div>
                <dt class="mat-caption">Events</dt>
                <dd class="mat-body-1">{{ issue?.count }}</dd>
              </div>
              <div>
                <dt class="mat-caption">Level</dt>
                <dd class="mat-body-1">{{ issue.level | titlecase }}</dd>
              </div>
              <div>
                <dt class="mat-caption">First Seen</dt>
                <dd class="mat-body-1">{{ issue.firstSeen | daysAgo }}</dd>
                <dd class="mat-caption">
                  {{ issue?.firstSeen | date: "long" }}
                </dd>
              </div>
              <div>
                <dt class="mat-caption">Last Seen</dt>
                <dd class="mat-body-1">{{ issue.lastSeen | daysAgo }}</dd>
                <dd class="mat-caption">
                  {{ issue?.lastSeen | date: "long" }}
                </dd>
              </div>
            </dl>
          </mat-card-content>
        </mat-card>
        <gt-issue-detail-tags></gt-issue-detail-tags>
      </aside>
    </div>
  </section>
}
