<div class="auth-form-wrapper">
  <mat-card class="auth-form">
    <mat-card-header>
      <mat-card-title>
        <h3 i18n>Reset Password</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (success()) {
      <p class="success" data-cy="reset-success" i18n>If you have an account with GlitchTip, an email has been sent to
        the
        email address you provided.</p>
      <button mat-flat-button color="primary" class="full-width" routerLink="/login">
        <span i18n>Return to login</span>
      </button>
      } @else {
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <gt-form-error [errors]="formErrors()"></gt-form-error>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label i18n>Email</mat-label>
          <input [readonly]="success()" matInput type="email" formControlName="email" />
          @if (email?.errors) {
          <mat-error>
            @if (email?.errors?.required || email?.errors?.email) {
            <span i18n>Enter a valid email address</span>
            }
            @if (email?.errors?.serverError) {
            <span>
              {{ email?.errors?.serverError }}
            </span>
            }
          </mat-error>
          }
        </mat-form-field>
        <gt-loading-button class="full-width" buttonText="Send Reset Password Email" [fullWidth]="true"
          [loading]="loading()" [disabled]="success()" id="submit">
        </gt-loading-button>
      </form>
      <div class="sign-up">
        <p class="mat-body-1">
          <a routerLink="/login" i18n>Log in</a>
        </p>
        @if (enableUserRegistration()) {
        <p class="mat-body-1">
          <a routerLink="/register" i18n>Register</a>
        </p>
        }
      </div>
      }
    </mat-card-content>
  </mat-card>
</div>