@if (paginator) {
  <div class="footer">
    @if (paginator.loading) {
      <div class="spinner-container">
        <mat-progress-spinner
          [diameter]="33"
          color="primary"
          mode="indeterminate"
        ></mat-progress-spinner>
      </div>
    }
    <button
      class="button-left"
      [routerLink]="[]"
      [queryParams]="paginator.previousPageParams || {}"
      queryParamsHandling="merge"
      mat-button
      [disabled]="paginator.hasPreviousPage === false"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button
      data-cy="keyboard-right"
      class="button-right"
      [routerLink]="[]"
      [queryParams]="paginator.nextPageParams || {}"
      queryParamsHandling="merge"
      mat-button
      [disabled]="paginator.hasNextPage === false"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
}
