@if (paginator$ | async; as paginator) {
  <section class="l-body l-body--full-width mat-elevation-z0">
    <header class="page-header">
      <gt-list-title
        title="Uptime Monitors"
        [searchHits]="paginator.count"
      ></gt-list-title>
      <a
        id="add-monitor"
        mat-stroked-button
        color="primary"
        [routerLink]="['new']"
      >
        <mat-icon>add</mat-icon>
        Add monitor
      </a>
    </header>
    @if (monitors$ | async; as monitors) {
      <div class="wrapper">
        @if (monitors.length > 0) {
          <table mat-table [dataSource]="monitors$" class="mat-elevation-z2">
            <ng-container matColumnDef="statusColor">
              <td
                mat-cell
                *matCellDef="let monitor"
                class="status-color status-color--{{ monitor.isUp }}"
              ></td>
            </ng-container>
            <ng-container matColumnDef="name-and-url">
              <td mat-cell class="name-and-url-cell" *matCellDef="let monitor">
                <div class="name-and-url-container">
                  <div (mouseover)="checkIfTooltipIsNecessary($event)">
                    <a
                      [matTooltip]="monitor.name"
                      matTooltipPosition="above"
                      [matTooltipDisabled]="tooltipDisabled"
                      [routerLink]="[monitor.id]"
                      >{{ monitor.name }}</a
                    >
                  </div>
                  <div (mouseover)="checkIfTooltipIsNecessary($event)">
                    <a
                      href="{{ monitor.url }}"
                      target="_blank"
                      class="mat-caption"
                      [matTooltip]="monitor.url"
                      matTooltipPosition="above"
                      [matTooltipDisabled]="tooltipDisabled"
                      >{{ monitor.url }}
                    </a>
                  </div>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="check-chart">
              <td mat-cell *matCellDef="let monitor" class="chart-container">
                <div class="monitor-chart">
                  <gt-monitor-chart [data]="monitor.checks"></gt-monitor-chart>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <td mat-cell *matCellDef="let monitor" class="status mat-body-1">
                @if (monitor.isUp) {
                  <span>Up</span>
                }
                @if (monitor.isUp === false) {
                  <span>Down</span>
                }
                @if (monitor.lastChange) {
                  {{ monitor.lastChange | timeFor }}
                }
              </td>
            </ng-container>
            <ng-container matColumnDef="pagination">
              <td
                mat-footer-cell
                *matFooterCellDef
                [attr.colspan]="displayedColumns.length"
                class="footer"
              >
                <gt-list-footer [paginator]="paginator"> </gt-list-footer>
              </td>
            </ng-container>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              class="monitor-row"
            ></tr>
            <tr
              class="pagination-row"
              mat-footer-row
              *matFooterRowDef="['pagination']"
            ></tr>
          </table>
        }
      </div>
    }
  </section>
}
