<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Environments</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      @if ((initialLoad$ | async) === false) {
        <div class="loading"></div>
      } @else {
        @if (sortedEnvironments$ | async; as sortedEnvironments) {
          @for (
            sortedEnvironment of sortedEnvironments;
            track sortedEnvironment
          ) {
            <h2>{{ sortedEnvironment.heading }}</h2>
            <mat-list>
              @for (
                environment of sortedEnvironment.environments;
                track environment
              ) {
                <mat-list-item>
                  <div class="environment-list-item">
                    <span class="mat-body-1">
                      {{ environment.name }}
                    </span>
                    <gt-loading-button
                      (buttonClick)="toggleHidden(environment)"
                      [loading]="
                        environment.id === (toggleHiddenloading$ | async)
                      "
                      [buttonText]="environment.isHidden ? 'Show' : 'Hide'"
                      buttonStyle="stroked"
                    ></gt-loading-button>
                  </div>
                </mat-list-item>
              }
            </mat-list>
          }
        } @else {
          <p class="mat-body-1">
            If you initialize an open-source Sentry SDK with an environment, it
            will tag events with that environment and GlitchTip will keep a
            record of them. The environments persist even if the event that
            reported it is deleted, which is why hiding is an option.
          </p>
        }
      }
    </mat-card-content>
  </mat-card>
</section>
