<div class="todo-list-item">
  <span
    [class.is-not-done]="isDone() === 'false'"
    [class.is-doing]="isDone() === 'doing'"
    [class.is-done]="isDone() === 'true'"
  >
    <div class="icon-align"
      >{{ title() }}
      @if (isDone() === "true") {
        <mat-icon>checkbox</mat-icon>
      }
    </div>
  </span>
</div>
