<section class="l-body">
  @if (
  (projects())?.length === 0 &&
  (activeOrganization()) === undefined &&
  (orgServiceInitialLoad())
  ) {
  <mat-card>
    <mat-card-content>
      <p class="mat-body-1" i18n>In order to use GlitchTip, you'll need to create an organization.</p>
      <a mat-flat-button color="primary" [routerLink]="['/organizations', 'new']" i18n>Create New Organization</a>
    </mat-card-content>
  </mat-card>
  }

  @for (organization of orgsAndProjects(); track organization.id) {
  @if (
  !activeOrgOnly ||
  (activeOrgOnly &&
  organization.id === (activeOrganization())?.id)
  ) {
  <section class="org-projects-section">
    <header class="page-header">
      <h2 class="mat-headline-4">
        {{ activeOrgOnly ? "Projects" : organization.name }}
      </h2>
      <a mat-stroked-button color="primary" [routerLink]="[
              '/',
              organization.slug,
              'settings',
              'projects',
              'new',
            ]" class="new-project-button" i18n>Create new project in {{ organization.name }}</a>
    </header>
    @if (organization.projects?.length === 0) {
    <gt-empty-projects [activeOrgOnly]="activeOrgOnly"></gt-empty-projects>
    }
    <div>
      <div class="project-card-wrapper">
        @for (project of organization.projects; track project) {
        <gt-project-card [cardLink]="['/', project.organization.slug, 'issues']"
          [cardLinkQueryParams]="{ project: project.id }" [title]="project.name" [descriptionList]="[
                  { key: 'organization', value: project.organization.name },
                  { key: 'date created', value: (project.dateCreated | date)! },
                ]" [isMember]="project.isMember" [primaryButton]="{
                  text: 'Issues',
                  icon: 'warning',
                  query: { project: project.id },
                  link: [project.organization.slug, 'issues'],
                }" [secondaryButton]="{
                  text: 'Settings',
                  icon: 'settings',
                  link: [
                    '/',
                    project.organization.slug,
                    'settings',
                    'projects',
                    project.slug,
                  ],
                }"></gt-project-card>
        }
      </div>
    </div>
  </section>
  }
  }
</section>
