<section class="l-body">
  <header class="page-header">
    <h2 class="mat-headline-4" i18n>System Info</h2>
  </header>
  <mat-card>
    <mat-card-header>
      <mat-card-title i18n>Backend configuration</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <dl>
        <dt class="mat-body-strong">Server timezone</dt>
        <dd>{{ serverTimeZone() }}</dd>
        <dt class="mat-body-strong">Organization creation</dt>
        <dd>{{
          enableUserRegistration() ? "Enabled" : "Disabled"
          }}</dd>
        <dt class="mat-body-strong">User registration</dt>
        <dd>{{
          enableUserRegistration() ? "Enabled" : "Disabled"
          }}</dd>
        <dt class="mat-body-strong">GlitchTip version</dt>
        <dd>{{ version() }}</dd>
      </dl>
    </mat-card-content>
  </mat-card>

  <mat-card class="documentation-card">
    <mat-card-header>
      <mat-card-title i18n>Documentation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-hint>See
        <a href="https://glitchtip.com/documentation/install" target="_blank">GlitchTip installation and configuration
          docs</a>.
      </mat-hint>
    </mat-card-content>
  </mat-card>
</section>