<section class="l-body">
  <gt-detail-header
    backLinkText="View monitor details"
    [title]="['Update Monitor', null]"
  >
    <button
      mat-icon-button
      class="medium-icon-button"
      id="delete-monitor"
      (click)="delete()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </gt-detail-header>
  @if (monitor(); as monitor) {
    <gt-monitor-form
      [monitorSettings]="monitor"
      [loading]="(loading()) === true"
      [formError]="error()"
      (formSubmitted)="submit($event)"
    ></gt-monitor-form>
  }
</section>
