@if (paginator$ | async; as paginator) {
  <section class="l-body l-body--full-width mat-elevation-z0">
    <header class="page-header">
      <gt-list-title
        i18n-title
        title="Releases"
        [searchHits]="paginator.count"
      ></gt-list-title>
    </header>
    @if (releases$ | async; as releases) {
      <div>
        <table mat-table class="mat-elevation-z2" [dataSource]="releases$">
          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef>Version</th>
            <td mat-cell *matCellDef="let release">
              <div
                class="version"
                (mouseover)="checkIfTooltipIsNecessary($event)"
              >
                <a
                  [routerLink]="[release.version]"
                  [matTooltip]="release.version"
                  matTooltipPosition="above"
                  [matTooltipDisabled]="tooltipDisabled"
                  >{{ release.version }}</a
                >
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef>Date Created</th>
            <td mat-cell *matCellDef="let release" class="date-cell">
              {{ release.dateCreated | date }}
            </td>
          </ng-container>
          <ng-container matColumnDef="pagination">
            <td
              mat-footer-cell
              *matFooterCellDef
              [attr.colspan]="displayedColumns.length"
              class="footer"
            >
              <gt-list-footer [paginator]="paginator"> </gt-list-footer>
            </td>
          </ng-container>
          <tr
            mat-header-row
            class="overlay"
            *matHeaderRowDef="displayedColumns"
            [class.u-hidden]="releases.length === 0"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="displayedColumns.length">
              <div class="empty-states">
                @if (
                  (initialLoadComplete$ | async) === true &&
                  (loading$ | async) === false
                ) {
                  @if ((errors$ | async)?.length) {
                    @if ((errors$ | async)?.length === 1) {
                      <h3 class="mat-headline-4">
                        There was an error processing your request
                      </h3>
                    } @else {
                      <h3 class="mat-headline-4">
                        There were errors while processing your request
                      </h3>
                    }
                    <ul>
                      @for (error of errors$ | async; track error) {
                        <li>{{ error }}</li>
                      }
                    </ul>
                  } @else {
                    <ng-container i18n
                      >There are no releases for this
                      organization.</ng-container
                    >
                  }
                }
              </div>
            </td>
          </tr>
          <tr
            class="pagination-row"
            mat-footer-row
            *matFooterRowDef="['pagination']"
          ></tr>
        </table>
      </div>
    }
  </section>
}
