@if (paginator$ | async; as paginator) {
  <section class="l-body l-body--full-width mat-elevation-z0">
    @if (release$ | async; as release) {
      @if (releaseFiles$ | async; as files) {
        <gt-detail-header
          [title]="
            'Release files for ' +
            release.version +
            ' (' +
            paginator.count +
            ')'
          "
          backLinkText="View all Releases"
        />
        <div>
          <table
            mat-table
            class="mat-elevation-z2"
            [dataSource]="releaseFiles$"
          >
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Filename</th>
              <td mat-cell *matCellDef="let file">
                <div
                  class="name"
                  (mouseover)="checkIfTooltipIsNecessary($event)"
                >
                  <span
                    [matTooltip]="file.name"
                    matTooltipPosition="above"
                    [matTooltipDisabled]="tooltipDisabled"
                  >
                    {{ file.name }}
                  </span>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="pagination">
              <td
                mat-footer-cell
                *matFooterCellDef
                [attr.colspan]="displayedColumns.length"
                class="footer"
              >
                <gt-list-footer [paginator]="paginator"> </gt-list-footer>
              </td>
            </ng-container>
            <tr
              mat-header-row
              class="overlay"
              *matHeaderRowDef="displayedColumns"
              [class.u-hidden]="files.length === 0"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                <div class="empty-states">
                  @if (
                    (initialLoadComplete$ | async) === true &&
                    (loading$ | async) === false
                  ) {
                    @if ((fileListErrors$ | async)?.length) {
                      @if ((fileListErrors$ | async)?.length === 1) {
                        <h3 class="mat-headline-4">
                          There was an error processing your request
                        </h3>
                      } @else {
                        <h3 class="mat-headline-4">
                          There were errors while processing your request
                        </h3>
                      }
                      <ul>
                        @for (error of fileListErrors$ | async; track error) {
                          <li>
                            {{ error }}
                          </li>
                        }
                      </ul>
                    } @else {
                      There are no files associated with this release.
                    }
                  }
                </div>
              </td>
            </tr>
            <tr
              class="pagination-row"
              mat-footer-row
              *matFooterRowDef="['pagination']"
            ></tr>
          </table>
        </div>
      }
    }
  </section>
}
