<div class="auth-form-wrapper">
  <mat-card class="auth-form">
    <mat-card-header>
      <mat-card-title>
        <h3 i18n>Set New Password</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        id="change-password-form"
      >
        <gt-form-error [errors]="formErrors()"></gt-form-error>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label i18n>New Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error>
            @if (password?.errors?.minlength) {
              <span i18n
                >Your password should be at least 8 characters long</span
              >
            }
            @if (password?.errors?.required) {
              <span i18n>Type in your new password</span>
            }
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label i18n>Confirm New Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password2"
            gtInputMatcher="password"
          />

          <mat-error>
            @if (password2?.errors?.required) {
              <span i18n>Type in your new password</span>
            }
            @if (password2?.errors?.notEqual) {
              <span i18n>Your passwords don't match</span>
            }
          </mat-error>
        </mat-form-field>
        <gt-loading-button
          class="full-width"
          i18n-buttonText
          buttonText="Change Password"
          [loading]="loading()"
          [fullWidth]="true"
        ></gt-loading-button>
      </form>
      <div class="sign-up">
        <p class="mat-body-1">
          <a routerLink="/login" i18n>Log in</a>
        </p>
        <p class="mat-body-1">
          <a routerLink="/register" i18n>Register</a>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
