<section class="l-body">
  <gt-detail-header
    backLinkText="Back to Teams"
    [title]="'#' + (teamSlug$ | async)!"
  />

  <nav mat-tab-nav-bar mat-stretch-tabs="false" [tabPanel]="tabPanel">
    @for (link of navLinks; track link) {
      <a
        mat-tab-link
        [routerLink]="link.path"
        routerLinkActive
        [active]="rla.isActive"
        #rla="routerLinkActive"
        >{{ link.label }}
      </a>
    }
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</section>
