<mat-drawer-container>
  <mat-drawer class="mat-elevation-z2" mode="side" opened>
    <nav>
      <mat-nav-list>
        <a mat-list-item routerLink="./" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }">
          General Settings
        </a>
        <a mat-list-item routerLink="./projects" routerLinkActive="active-route">
          Projects
        </a>
        @if (billingEnabled()) {
        <a mat-list-item routerLink="./subscription" routerLinkActive="active-route">
          Subscription
        </a>
        }
        <a mat-list-item routerLink="./teams" routerLinkActive="active-route">
          Teams
        </a>
        <a mat-list-item routerLink="./members" routerLinkActive="active-route">
          Members
        </a>
      </mat-nav-list>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    @if (isLoggedIn()) {
    <gt-mobile-nav-toolbar [activeOrg]="activeOrganizationDetail()"
      (buttonClicked)="toggleSideNav()"></gt-mobile-nav-toolbar>
    }
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>